{% extends 'base.html' %}

{% block content %}
<p>
    <a href="{% url 'pub_post_list' %}">
    Post List
    </a>
</p>

<h1>{{ post.title }}</h1>
<h3>On {{ post.created_at }} by {{ post.author.username }}</h3>
<p>
    {{ post.body }}
</p>

{% if comments %}
<h2>Comments:</h2>
<ul>
    {% for c in post.comment_set.all %}
    <li>
        {{ c.comment }} by {{ c.author }} posted {{ c.created_on|timesince }} ago
    </li>
<br>
    the post is : {{ c.post.title }}
    {% endfor %}
</ul>
{% else %}
<h4>No comments yet..</h4>
{% endif %}

{% if request.user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Comment">
</form>
{% else %}
<h3>Please login to comment</h3>
{% endif %}

{% endblock %}